body {
	margin: 0;
	color: #333;
}
h1 {
	width: 100%;
	text-align: center;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
.cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.card {
	width: 250px;
	display: grid;
	box-shadow: 2px 2px 18px #555555aa;
	border-radius: 12px;
	overflow: hidden;
}
.card img {
	width: 100%;
	object-fit: cover;
}
.card .img_block {
	position: relative;
}

.card .img_block div {
	position: absolute;
	inset: 0;
	top: 50%;
	background: linear-gradient(180deg, rgba(255,255,255,0) 50%, rgba(0, 0, 0, 0.7) 100%);
}
.card .desc {
	display: grid;
}
.card .desc div {
	padding: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card .desc h2 {
	margin: 0;
}
.card .desc .level {
	color: #888;
}

.card .desc .social {
	display: flex;
	gap: 4px;
}

.card .desc .social img {
	width: 16px;
	height: 16px;
	background: #000;
}
.card .desc .contact-button {
	background: #000;
	padding: 8px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}